/* Global Styles */
html {
}

body {
}

* {
  box-sizing: border-box;
}
.top-spacer {
  margin-top: 30px;
  padding-top: 10px;
}

.spacer {
  margin-top: 35px;
}

h1.headerTitle,
h2.section-title {
  font-family: "Playfair Display", serif;
}

h2.section-title {
  font-size: 40px;
  color: #16224a;
}

section {
  text-align: center;
}

.slide-image {
  width: 90%;
  padding: 10%;
}

p.section-text-p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  padding: 0 5%;
}

/* Header/Slide One Styles */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 1.5em 1em 0 1em;
}

.hero {
  position: relative;
  background-color: rgba(236, 240, 241, 0.85);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/images/header.png");
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(236, 240, 241, 0.85);
}

hr {
  position: relative;
  border-color: #047af5;
  width: 5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1.headerTitle {
  position: relative;
  color: #16224a;
  font-size: 90px;
  line-height: 95%;
  text-align: center;
  letter-spacing: -2%;
  padding-top: 5%;
  margin-bottom: 0;
  margin-top: 5px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerText {
  position: relative;
  font-family: "Lato", sans-serif;
  color: #047af5;
  font-size: 30px;
  line-height: 60px;
}

a.button {
  position: relative;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-right: 15px;
}

.member {
  background-color: #19e0da;
}

.advisor {
  background-color: #9b9b9b;
}

/* Slide Two Styles */
h2.desktop {
  display: none;
}

.wave-image {
  width: 100%;
}

/* Slide Three Styles */
h3.service-title {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  line-height: 15px;
  letter-spacing: 2px;
}

p.service-text {
  font-family: "Lato", sans-serif;
  line-height: 25px;
  letter-spacing: 1px;
  padding: 0 10px;
}

/* Slide Four Stlyes */
#join {
  display: flex;
  flex-direction: column-reverse;
}

span.strongColored {
  font-weight: 900;
  font-style: italic;
  color: #19e0da;
}

span.emphasized {
  font-weight: 100;
  font-style: italic;
}

/* On Small devices from 600px down */
@media only screen and (max-width: 600px) {
  h1.headerTitle {
    font-size: 50px;
  }

  .headerText {
    font-size: 25px;
    line-height: 30px;
  }

  a.button {
    display: inline-block;
    margin-bottom: 20px;
  }

  hr {
    width: 10%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h2.mobile {
    display: none;
  }

  h2.desktop {
    display: block;
  }

  section {
    text-align: left;
  }

  #join,
  .content {
    display: flex;
    flex-direction: row;
  }

  .left {
    width: 50%;
  }

  .right {
    width: 40%;
  }

  img.slide-image-join {
    max-width: 40%;
    position: absolute;
    right: 0;
    padding: 0;
  }

  /* img.slide-image {
    padding-left: 20px;
  } */

  h2.section-title.desktop {
    margin: 10px 0;
  }

  p.section-text-p {
    padding: 0;
    font-size: 18px;
  }

  .section-text {
    padding: 50px 0 35px 0;
    margin-top: 50px;
  }

  .section-text-join {
    padding: 50px 0 35px 25px;
    margin-top: 50px;
  }
}
