/* Global Styles */
html {
}

body {
}

* {
  box-sizing: border-box;
}

/* Header/Slide One Styles */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 1.5em;
}

.hero {
  position: relative;
  background-color: rgba(236, 240, 241, 0.85);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/images/header.png");
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(236, 240, 241, 0.85);
}

hr {
  position: relative;
  border-color: #047af5;
  width: 5%;
  box-shadow: rgba(0, 0, 0, 0.25);
}

h1.headerTitle {
  position: relative;
  font-family: "Playfair Display", serif;
  color: #16224a;
  font-size: 90px;
  line-height: 95%;
  text-align: center;
  letter-spacing: -2%;
  padding-top: 5%;
  margin-bottom: 0;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.25);
}

.headerText {
  position: relative;
  font-family: "Lato", sans-serif;
  color: #047af5;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -2%;
  box-shadow: rgba(0, 0, 0, 0.25);
}

a.button {
  position: relative;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-right: 15px;
}

.member {
  background-color: #19e0da;
}

.advisor {
  background-color: #9b9b9b;
}

@media only screen and (max-width: 600px) {
  h1.headerTitle {
    font-size: 50px;
  }

  .headerText {
    font-size: 20px;
  }
}
